{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <article class="work-container-section">
        <div class="row">
            <div class="card">
                <img class="thumbnail" src="{% static 'images/scheme.png' %}">
                <div class="container">
                    <h3 class="text">Kондиционна подготовка</h3>
                    <p>Lorem ipsum asd ahasjkna qAMAHU</p>
                </div>
            </div>

            <div class="card">
                <img class="thumbnail" src="{% static 'images/scheme.png' %}">
                <div class="container">
                    <h3 class="text">Kондиционна подготовка</h3>
                    <p>Lorem ipsum asd ahasjkna qAMAHU</p>
                </div>
            </div>

            <div class="card">
                <img class="thumbnail" src="{% static 'images/scheme.png' %}">
                <div class="container">
                    <h3 class="text">Kондиционна подготовка</h3>
                    <p>Lorem ipsum asd ahasjkna qAMAHU</p>
                </div>
            </div>

            <div class="card">
                <img class="thumbnail" src="{% static 'images/scheme.png' %}">
                <div class="container">
                    <h3 class="text">Kондиционна подготовка</h3>
                    <p>Lorem ipsum asd ahasjkna qAMAHU</p>
                </div>
            </div>

            <div class="card">
                <img class="thumbnail" src="{% static 'images/scheme.png' %}">
                <div class="container">
                    <h3 class="text">Kондиционна подготовка</h3>
                    <p>Lorem ipsum asd ahasjkna qAMAHU</p>
                </div>
            </div>

            <div class="card">
                <img class="thumbnail" src="{% static 'images/scheme.png' %}">
                <div class="container">
                    <h3 class="text">Kондиционна подготовка</h3>
                    <p>Lorem ipsum asd ahasjkna qAMAHU</p>
                </div>
            </div>

        </div>
    </article>


{% endblock %}