{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="border-box">
        <div class="boxes-flex">
            <div class="box">
                <img src="{% static 'images/scheme.png' %}">
                <h2>Кондиционна подготовка</h2>
                <p>lorem ipsum dalor mi lorem ipsum dalor mi lorem ipsum dalor mi </p>
            </div>

            <div class="box">
                <img src="{% static 'images/scheme.png' %}">
                <h2>Кондиционна подготовка</h2>
                <p>lorem ipsum dalor mi lorem ipsum dalor mi lorem ipsum dalor mi </p>
            </div>

            <div class="box">
                <img src="{% static 'images/scheme.png' %}">
                <h2>Кондиционна подготовка</h2>
                <p>lorem ipsum dalor mi lorem ipsum dalor mi lorem ipsum dalor mi </p>
            </div>

            <div class="box">
                <img src="{% static 'images/scheme.png' %}">
                <h2>Кондиционна подготовка</h2>
                <p>lorem ipsum dalor mi lorem ipsum dalor mi lorem ipsum dalor mi </p>
            </div>

            <div class="box">
                <img src="{% static 'images/scheme.png' %}">
                <h2>Кондиционна подготовка</h2>
                <p>lorem ipsum dalor mi lorem ipsum dalor mi lorem ipsum dalor mi </p>
            </div>

            <div class="box">
                <img src="{% static 'images/scheme.png' %}">
                <h2>Кондиционна подготовка</h2>
                <p>lorem ipsum dalor mi lorem ipsum dalor mi lorem ipsum dalor mi </p>
            </div>
        </div>
    </div>

{% endblock %}