{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="bg-image">

</div>


<article class="work-container-section">
    <div class="work-container">
        <div class="item item-text">
            <h1 class="title">Начално разучаване</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and
                maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of
                years.</h3>
            <button type="button" class="button-black text" onclick="alert('Hello world!')">Научи повече...</button>
        </div>
        <div class="item">
            <img class="image-square" src="посрещане%201.png">
        </div>

        <div class="item">
            <img class="image-rectangle" src="">
        </div>

        <div class="item item-text">
            <h1 class="title">Затвърждаване</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
        </div>

        <div class="item item-text">
            <h1 class="title">Усъвършенстване</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
        </div>
        <div class="item">
            <img class="image-rectangle" src="">
        </div>

        <div class="item">
            <img class="image-rectangle" src="">
        </div>

        <div class="item item-text">
            <h1 class="title">Интегрална Подготовка</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
        </div>

        <div class="item item-text">
            <h1 class="title">Структрура на тренировката</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and
                maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of
                years.</h3>
        </div>
        <div class="item">
            <img class="image-square" src="посрещане%201.png">
        </div>

        <div class="item">
            <img class="image-square" src="">
        </div>

        <div class="item item-text">
            <h1 class="title">Хранене</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
        </div>
        <div class="item item-text">
            <h1 class="title">Треньорът по волейбол</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and
                maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of
                years.</h3>
        </div>
        <div class="item">
            <img class="image-square" src="посрещане%201.png">
        </div>

        <div class="item">
            <img class="image-square" src="">
        </div>

        <div class="item item-text">
            <h1 class="title">Съставяне на тренировъчен план</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
        </div>

        <div class="item item-text">
            <h1 class="title">Терминология</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
        </div>
        <div class="item">
            <img class="image-rectangle" src="">
        </div>

        <div class="item">
            <img class="image-rectangle" src="">
        </div>

        <div class="item item-text">
            <h1 class="title">Първа помощ</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
        </div>
    </div>
</article>

{% endblock %}