{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="bg-image">

</div>


<article class="work-container-section">
    <div class="work-container">
        <div class="item item-text">
            <h1 class="title">Начално разучаване</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and
                maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of
                years.</h3>
            <a class="button-black text" href="{% url 'show topics' stage='beginner' %}" >Научи повече...</a>
        </div>
        <div class="item">
            <img class="image-square" src="{% static 'images/reception-1.png' %}">
        </div>

        <div class="item">
            <img class="image-rectangle" src="{% static '/images/serve.jpg' %}">
        </div>

        <div class="item item-text">
            <h1 class="title">Затвърждаване</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
            <a class="button-black text" href="{% url 'integral preparation' %}" >Научи повече...</a>
        </div>

        <div class="item item-text">
            <h1 class="title">Усъвършенстване</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
            <a class="button-black text" href="{% url 'integral preparation' %}" >Научи повече...</a>
        </div>
        <div class="item">
            <img class="image-rectangle" src="{% static 'images/spike.png' %}">
        </div>

        <div class="item">
            <img class="image-square" src="{% static 'images/integral-preparation.png' %}">
        </div>
        <div class="item item-text">
            <h1 class="title">Интегрална Подготовка</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
            <a class="button-black text" href="{% url 'integral preparation' %}" >Научи повече...</a>
        </div>

        <div class="item item-text">
            <h1 class="title">Структрура на тренировката</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and
                maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of
                years.</h3>
            <a class="button-black text" href="{% url 'integral preparation' %}" >Научи повече...</a>
        </div>
        <div class="item">
            <img class="image-square" src="{% static 'images/practise-structure.png' %}">
        </div>

        <div class="item">
            <img class="image-square" src="{% static 'images/food.png' %}">
        </div>

        <div class="item item-text">
            <h1 class="title">Хранене</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
            <a class="button-black text" href="{% url 'integral preparation' %}" >Научи повече...</a>
        </div>
        <div class="item item-text">
            <h1 class="title">Треньорът по волейбол</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and
                maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of
                years.</h3>
            <a class="button-black text" href="{% url 'integral preparation' %}" >Научи повече...</a>
        </div>
        <div class="item">
            <img class="image-square" src="{% static 'images/coach.png' %}">
        </div>

        <div class="item">
            <img class="image-square" src="{% static 'images/scheme.png' %}">
        </div>

        <div class="item item-text">
            <h1 class="title">Съставяне на тренировъчен план</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
            <a class="button-black text" href="{% url 'integral preparation' %}" >Научи повече...</a>
        </div>

        <div class="item item-text">
            <h1 class="title">Терминология</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
            <a class="button-black text" href="{% url 'integral preparation' %}" >Научи повече...</a>
        </div>
        <div class="item">
            <img class="image-rectangle" src="{% static 'images/book-cover.png' %}">
        </div>

        <div class="item">
            <img class="image-square" src="{% static 'images/health.png' %}">
        </div>

        <div class="item item-text">
            <h1 class="title">Първа помощ</h1>
            <h3 class="text"> Having the proper mindset, moving outside your comfort zone, developing and maintaining
                healthy relationships, and staying focused have been key drivers of success for thousands of years.</h3>
            <a class="button-black text" href="{% url 'integral preparation' %}" >Научи повече...</a>
        </div>
    </div>
</article>

{% endblock %}